.caneva-conteneur {
    width: 100%;
    height: 100%;
    background-color: rgba(42, 42, 42, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
    visibility: hidden;

    .c--caneva-et-options {
        width: 300px;
        margin: auto;
        background: @backgroundColor;

        .c--caneva {
            background-color: #e0e0e0;
            margin: 0;
            padding: 0;
        }

        p {
            color: @blanc;
            text-align: center;
        }

        .c--caneva-options {
            background: @backgroundColor;
            padding: 10px 0;
            display: flex;
            justify-content: space-around;

            --options {
                margin: auto;
                padding: 5px;

                // background: @blanc;
                // color: @texteColor;
                // padding: 7px;
            }
        }
    }
}
