.modale {
    width: 100%;
    height: 100%;
    background-color: rgba(42, 42, 42, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1100;
    visibility: hidden;
}

.modale-conteneur {
    min-width: 200px;
    min-height: 50px;
    padding: 10px;
    margin: auto;
    background-color: @blanc;
    border-radius: 10px;

    h2 {
        margin: -11px -11px 20px -11px;
        padding: 0 0 5px 0;
        background: @backgroundColor;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }
}
