// out: ../styles/styles.css, sourcemap: true, compress: true
@import "../frameworks/styles/fontawesome/font-awesome.less";
@import "styles-homogenes.less";
@import "variables.less";
@import "diaporama/diaporama.less";
@import "caneva.less";
@import "modale.less";
.cache {
    display: none;


}
section {
    background: @backgroundColor;
}
header {
    margin: 0;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: @backgroundColor;

    & .header--container {
        margin: auto;

        & img {
            height: 75px;
            width: auto;
            display: inline-block;
            border-bottom: 1px solid @texteColor;
            @media (max-width: 768px) {
                height: 50px;
            }
        }

        & h1 {
            margin: 0 0 10px 0;
            padding: 0;
            text-align: center;
            color: @siteTitreColor;

            @media (max-width: 768px) {
                display: none;
            }
        }

        & p.site-description {
            margin: 0;
            padding: 0;
            text-align: center;
            color: @siteDescriptionColor;

            @media (max-width: 768px) {
                display: none;
            }
        }

        & .header--compte {
            position: relative;
            color: @siteDescriptionColor;
            font-size: 20px;
            cursor: pointer;

            &:hover .cache {
                display: block;
            }

            @media (max-width: 500px) {
                font-size: 13px;
            }

            & a > span {
                display: block;
                margin: 0;
                padding: 0;
            }

            .resa-titre {
                &::before {
                    content: "\f02e";
                    display: inline-block;
                    color: @siteDescriptionColor;
                    margin-right: 5px;
                    font-size: 20px;
                }
            }

            .resa-titre-info {
                text-align: center;
                color: @blanc !important;
                font-size: 80%;
            }


            .c--info-resa {
                width: 100%;
                position: absolute;
                top: 0;
                right: 0;
                margin: 50px 0 0 0;
                padding: 10px 10px 20px 10px;
                background: @bleuFonce;
                border: 0.5px solid @bleuFonce;
                font-size: 80%;
                z-index: 1100;
            }


        }
    }
}
.linkToMap {
    height: 40px;
    padding: 0;
    margin: 0;
    background: @backgroundColor;
}
#carte, #map {
  height: 100%;
  background-color: @backgroundColor;
}
.c--resa {
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.resamap {


    .c--map {
        float: left;
        margin: 0;
        padding: 0;
        overflow: hidden;
        box-sizing: border-box;
    }

    .c--resa {
        width: 0%;
        display: none;
        padding: 10px;

        .c--resaOptions {
            margin: 0;
            padding: 0;
            display: flex;

            .c--option {
                width: 50%;
                box-sizing: border-box;
                margin: 10px 5px;
                padding: 7px 0;
                text-align: center;
                border-radius: 10px;
            }

            .c--option-reserver {
                background: @lien;
                color: @blanc;
            }

            .c--option-fermer {
                background: @blanc;
                color: @texteColor;
            }
        }

        .c--nom {
            margin: 10px 0 0 0;
            padding: 10px 0 15px 0;
            font-size: 20px;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
        }

        .c--adresse {
            margin: 0;
            padding: 0 0 0 20px;
            font-style: italic;
            font-size: 90%;
            color: @blanc;
        }

        ul, li {
            color: @blanc;
        }

        & .c--statut {
            display: block;
            padding: 10px 10px;
            text-align: left;
            color: #2a2a2a;
            font-size: 100%;
            margin: 0;
            font-weight: 900;
            margin: -10px -10px 10px -10px;
            text-align: center;
        }

        & .c--statut-open {
            background: @ouvert;
            color: @blanc;

            &::before {
                content: "\f07c";
                display: inline-block;
                color: @blanc;
                margin-right: 5px;
                font-size: 20px;
            }
        }

        & .c--statut-close {
            background: @ferme;
            color: @blanc;

            &::before {
                content: "\f07b";
                display: inline-block;
                color: @blanc;
                margin-right: 5px;
                font-size: 20px;
            }
        }
        .c--adresse {
            margin: 0;
            padding: 0 0 0 20px;
            font-style: italic;
            font-size: 90%;
        }

        hr {
            border: 1px solid #eaeaea;
        }

        .c--reserver-bouton {
            display: block;
            margin: 5px 0;
            padding: 7px 5px;
            background-color: @backgroundColor;
            font-size: 120%;
            text-align: center;
        }

    }

    .c--map {
        width: 100%;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
/* systeme d'information */
.informations {
    margin: 0;
    padding: 10px 0 25px 0;
    background-color: @backgroundColor;
    color: @blanc;
    .information-texte {
        text-align: center;
    }
    .information-p {
        margin: 5px 0;
        padding: 5px 0 5px 0;

        & > span {
            padding: 5px;
            border: 1px solid #fff;
            background: #4e4e4e;
            @media (max-width: 768px) {
                display: block;
            }
        }
    }

    .information-p-annuler {
        text-align: center;
    }

    .reservation-annuler {
        padding: 20px 0;
        font-size: 110%;

    }

    .information-resa {

        display: none;
    }

    .information-resa-groupe {
        display: flex;
        flex-wrap: wrap;

        & > div {
            margin: auto;
            min-width: 250px;
        }
    }

    .information-p-image {
        padding: 5px;
        border: 1px solid #fff;
        background: #4e4e4e;
        max-width: 90%;
        height: auto;
    }
}

/* retour au debut de la page */
.goTo {
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: @backgroundColor;
    border-radius: 0 0 10px 10px;
    border: 1px solid @blanc;
    z-index: 20;

    @media (max-width: 900px) {
        bottom: 10px;
    }

    @media (max-width: 600px) {
        display: none;
    }
}
.gotToTop {
    right: 50px;

    &::before {
        content: "\f102";
        display: block;
        font-size: 50px;
        text-align: center;

    }
}
.gotToMap {
    right: 120px;

    &::before {
        content: "\f279";
        margin-top: 10px;
        display: block;
        font-size: 30px;
        text-align: center;

    }
}
// .gm-bundled-control-on-bottom {display:none}
