/**
 *  homogénisation des styles suivant les navigateurs
 */
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: @texteColor;
}

h1, h2, h3, h4, h5, h6 {
    color: @titreColor;
}

a {
    color: @lien;

    &:visited {
        color: @lienVisited;
    }
    &:hover {
        color: @lienHover;
    }
    &:active {
        color: @lien;
    }
}
