/**
 *  gestion des variables
 */
@blanc: #ffffff;
@blancFonce: #e9e0e0;
@grisFonce: #2a2a2a;
@grisClair: #f8f8f8;
@rougeFonce: #740000;
@bleuFonce: #3a7bc5;
@bleuClair: #eff7ff;
@orangeFonce: #ff8700;
@orangeClair: #ffbc71;
@vert: #69D500;
@rouge: #e01d39;


@siteTitreColor: @bleuFonce;
@siteDescriptionColor: @blancFonce;
@backgroundColor: @grisFonce;

@texteColor: @grisFonce;
@titreColor: @bleuFonce;

@lien: @orangeFonce;
@lienVisited: @orangeFonce;
@lienHover: @orangeClair;

@ouvert: @vert;
@ferme: @rouge;

/**
* Diaporama
*/
@slideBackground: @bleuClair;
