.diaporama {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
    border-top: 1px solid @blanc;
    border-bottom: 1px solid @blanc;
    color: @blanc;

    .c--diaporama--slides-conteneur {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
        overflow: hidden;

        .c--slides-conteneur--slide {
            width: 100%;
            min-height: 50px;
            margin: 0;
            padding: 0;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 0;
            background: @backgroundColor;

            &.js-slide--active {
                display: block;
                z-index: 3;
            }

            &.js-slide--suivante {
                display: block;
                z-index: 1;
            }
        }
    }

    .c--slide-contenu {
        margin: 0 40px;
        padding: 40px 0;
        text-align: center;

        & h2, & h3, & h4, & h5, & h6 {
            color: @bleuClair;
            border-bottom: 0.1px solid #222;
        }

        & h2 {

        }

        & p {
            color: @blanc;
            margin-bottom: 20px;

            &.actions {
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px;
                border-left: 1px solid @orangeFonce;
                border-right: 1px solid @orangeFonce;
            }

        }

        & ul {
            display: inline-block;

            & li {
                text-align: left;
            }
        }

        .slide-compteur-info {
            text-align: center;

            span {
                display: inline-block;
                padding: 10px;
                margin: 0;
                color: @blanc;
                background: @bleuFonce;
            }
        }
    }

    .c--diaporama--informations {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;

        & > a {
            position: absolute;
            top: 40%;
            color: @bleuFonce;
            font-size: 50px;
            margin-left: 5px;
            text-decoration: none;
            z-index: 10;

            &.c--diaporama--informations-prec {
                left: 0;
            }

            &.c--diaporama--informations-suiv {
                right: 0;
            }

        }

        .c--diaporama--informations-prec::before {
            content: '\f104';
            left: 0;
            display: block;
            color: @bleuFonce;
            font-size: 50px;
            margin-left: 5px;
        }

        .c--diaporama--informations-suiv::before {
            content: '\f105';
            display: block;
            right: 0;
            color: @bleuFonce;
            font-size: 50px;
            margin-right: 5px;
        }

        // &::before {
        //     content: '\f104';
        //     display: block;
        //     color: @bleuFonce;
        //     font-size: 50px;
        //     margin-left: 5px;
        // }
        //
        // &::after {
        //     content: '\f105';
        //     display: block;
        //     color: @bleuFonce;
        //     font-size: 50px;
        //     margin-right: 5px;
        // }
    }
}
